// 主页面css更改样式开始
.top-navigation {
    #wrapper {
        #page-wrapper {
            .border-bottom {
                nav {
                    .navbar-header {
                        background-color: #293846;
                    }
                    .navbar-collapse {
                        background-color: #293846;
                        .nav {
                            li {
                                a {
                                    color: #fff;
                                    &:hover {
                                        color: #1ab394;
                                    }
                                    &:active {
                                        color: #1ab394;
                                    }
                                }
                                &.open {
                                    a {
                                        color: #1ab394!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .wrapper {
                .container {
                    .row-button1 {
                        // 增删改查开始
                        .ibox {
                            // 标题
                            .ibox-title {}
                            // 导航
                            .ibox-content {
                                .row {}
                            }
                        }
                    }
                }
            }
        }
    }
}

.gohome {
    margin-top: 40px;
}

//主页面css更改样式结束
